* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    font-family: 'Inter', sans-serif;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    display: inline-block;

}

.container {
    width: 1170px;
    margin: auto;

}

/* Common css end */


/* Navbar start */

#navbar .container {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    margin-bottom: 33px;
    align-items: center;

}

#navbar .container .logo {
    width: 115.21px;
    height: 83px;
    display: block;
}

#navbar .container .link {
    height: 32px;
    width: 504px;


}

#navbar .container .link ul {
    display: flex;
    justify-content: space-between;
    line-height: 32px;
}

#navbar .container .link ul a {
    font-weight: 500;
    font-size: 18px;
    color: #181818;
    position: relative;
    transition: .4s;

}

#navbar .container .button a {
    text-align: center;
    background-color: #ffff;
    color: #5956E8;
    border: 1px solid #5956E8;
    padding: 13px 24px;
    border-radius: 10px;
    transition: .4s;
}

#navbar .container .button a:hover {
    background-color: #5956E8;
    color: #fff;
}

#navbar .container .link ul li a::before {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 50%;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #5956E8;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0;
    transition: .4s;
}

#navbar .container .link ul li a:hover::before {
    opacity: 1;
    bottom: -20px;
    color: #5956E8;
}

#navbar .container .link ul li a:hover {
    color: #5956E8;
}

/* Banner start */

#banner {

    background-color: #5956E8;
}

#banner .container {
    padding: 182px 0;
    display: flex;
    justify-content: space-between;


}

#banner .container .info {
    width: 542px;
    display: flex;
    align-items: center;

}


#banner .container .info h3 {
    font-weight: 700;
    font-size: 65px;
    line-height: 80px;
    color: #fff;
    margin-bottom: 25px;
}

#banner .container .info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 30px;
    color: #fff;
}

#banner .container .info a {
    text-align: center;
    background-color: #ffff;
    color: #5956E8;
    font-weight: 500;
    padding: 13px 24px;
    border-radius: 10px;

}

/* Banner end */

/* Service start */
#services {
    margin-top: 100px;
}

#services .servicestart h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

#services .servicestart p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    width: 542px;
    margin: 0 auto;
}

#services .floatdiclear {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#services .floatdiclear .item {
    padding: 63px 48px;
    width: 370px;
    height: 385px;
    margin-top: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    border: #E3E3E3 1px solid;
    transition: .4s;

}

#services .floatdiclear .item i {
    height: 71px;
    width: 71px;
    border: #5956E8 1px solid;
    color: #5956E8;
    text-align: center;
    line-height: 71px;
    border-radius: 10px;
    font-size: 37px;
    font-weight: 600;
}

#services .floatdiclear .item h3 {
    font-weight: 700;
    font-size: 25px;
    text-align: left;
    margin-top: 30px;
}

#services .floatdiclear .item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #181818;
    margin-top: 20px;
}


/* Service end */